html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: $fuentePrincipal;
    font-size: 1.6rem;

    // se agrega esto para no poder dar escroll al ampliar la imagen de la galeria
    &.fijar-body {
        overflow: hidden;
    }
     /*
      * &.fijar-body significa que queremos tener un selector como el siguiente:
        body.fijar-body {

        } 
      * ya que hace referencia a que la clase pertenece al mismo body
     */
}

p {
    font-size: 2rem;
    color: $negro
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-size: 4rem;  
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3rem;
}

.contenedor {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}
